<head>
  <meta charset="utf-8">
  <title>Nirdizati</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- styles -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;subset=cyrillic">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <link href="css/index.css" rel="stylesheet">

  <link rel="shortcut icon" href="media/favicon/favicon.ico" type="image/x-icon">
</head>
<body class="page-landing">
  <div class="masthead masthead-landing">
    <div class="container">
      <div class="masthead-content">
        <img src="/media/logo.png" alt="Logo Nirdizati">
        <div class="tup">make better decisions, increase profit, and accomplish your goals</div>
        <a href="#" class="btn btn-lg btn-primary tup">try it now</a>
      </div>
    </div>

    <div class="learn-more" id="js-learn-more">
      <span class="learn-more-text tup">or learn more</span>
      <i class="fa fa-angle-down learn-more-icon" aria-hidden="true"></i>
    </div>
  </div>

  <div class="container tac">
    <blockquote class="blockquote">
      <div class="blockquote__body">
        <p>Ultimately, every decision will be made with data, backed by data, and continuously put into question based on data</p>
      </div>
    </blockquote>

    <div class="h1 color-blue-dark">What is Nirdizati?</div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <p class="color-black">Nirdizati is a dashboard-based monitoring tool, which is updated periodically based on incoming streams of events.
        <br><br>
        However, unlike classical monitoring dashboards, Nirdizati does not only focus on showing the current state of business process executions, but also, and more importantly, it sheds lights on their future state. “How long will it take to handle this claim?, Will this loan offer be&nbsp;accepted?” are typical questions Nirdizati can answer, quite accurately.
        </p>
      </div>
    </div>
  </div>

  <div id="block-blue-1">
    <div class="container">
      <div class="h1 tac color-white">What can I do with Nirdizati?</div>

      <div>
        <div class="step">
          <div class="step-icon">1</div>
          <div class="step-heading">Monitor how your processes behave&nbsp;in&nbsp;real-time</div>
          <ul class="step-list">
            <li>How many cases are running now?</li>
            <li>How long does it take on average per case?</li>
            <li>How many events have elapsed so far?</li>
          </ul>
          <div class="step-img">
            <img src="/media/landing/example-1.png">
          </div>
        </div>

        <div class="step">
          <div class="step-icon">2</div>
          <div class="step-heading">Nail down potential performance&nbsp;issues</div>
          <ul class="step-list">
            <li>When will this case be finished?</li>
            <li>How likely is this case will be accepted?</li>
            <li>What are the most likely future activites in&nbsp;this case?</li>
          </ul>
          <div class="step-img">
            <img src="/media/landing/example-2.png">
          </div>
        </div>

        <div class="step">
          <div class="step-icon">3</div>
          <div class="step-heading">Check how your current processes stack up against their past executions</div>
          <ul class="step-list">
            <li>Are current processes slower than they used&nbsp;to&nbsp;be?</li>
            <li>Are current processes less error-prone?</li>
          </ul>
          <div class="step-img">
            <img src="/media/landing/example-3.png">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container tac" id="how-do-this">
    <div class="h1 color-blue-dark">How does Nirdizati do this?</div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <p class="color-black">On the backend, Nirdizati uses predictive models trained using methods we have published in the past couple of years. It uses different technologies:
        </p>
      </div>
    </div>
    <div class="row">
      <div id="tools">
        <img src="/media/landing/tools/redis.png">
        <img src="/media/landing/tools/node.png">
        <img src="/media/landing/tools/boot.png">
        <img src="/media/landing/tools/mongo.png">
        <img src="/media/landing/tools/express.png">
        <img src="/media/landing/tools/ngnx.png">
        <img src="/media/landing/tools/socket.png">
        <img src="/media/landing/tools/python.png">
        <img src="/media/landing/tools/learn.png">
      </div>
      <div class="container tac">
        <a href="#" class="btn btn-lg btn-primary tup">try it now</a>
      </div>
    </div>
  </div>

  <div id="block-blue-2">
    <div class="container tac">
      <div class="h1 color-sky-dark">Credits</div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <p class="color-white">Nirdizati has originated from the thesis project developed by Andrii Rozumnyi under
          the supervision of Ilya Verenich’s at the University of Tartu, Estonia. 
          <br><br>
          We greatly appreciate the feedback and continuous guidance from Professor Marlon Dumas (University of Tartu) and Professor Marcello La Rosa (Queensland University of Technology).
          <br><br>
          The  study  of  Andrii Rozumnyi  is  supported  by the Estonian Foreign Ministry’s Development Cooperation and Humanitarian Aid funds.
          </p>
        </div>
      </div>
      <div id="credits">
        <img src="/media/landing/estonia-logo.png">
        <img src="/media/landing/ut-logo.png">
      </div>
      <div class="h1 color-sky-dark">Contacts</div>
      <ul class="list-unstyled" id="contacts">
        <li><a href="#"><img src="/media/landing/email.png"></a></li>
        <li><a href="#"><img src="/media/landing/facebook.png"></a></li>
        <li><a href="#"><img src="/media/landing/github.png"></a></li>
        <li><a href="#"><img src="/media/landing/twitter.png"></a></li>
      </ul>
      <p id="copy">&copy; Nirdizati 2017</p>
    </div>
  </div>

  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  <script src="/js/landing.js"></script>
</body>
