abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

body {
  line-height: 1;
  background-color: gray;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: none;
}

a,
hr {
  padding: 0;
}

a {
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
  margin: 0;
}

ins,
mark {
  background-color: #ff9;
  color: #000;
}

ins {
  text-decoration: none;
}

mark {
  font-style: italic;
  font-weight: 700;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}

input,
select {
  vertical-align: middle;
}

#wrapper {
  margin: auto;
  background-color: #000;
  max-width: 1200px;
}

* {
  box-sizing: border-box;
}

@media (max-width:350px) {
  .col-xxxs-12 {
    width: 100%;
  }

  .col-xxxs-11 {
    width: 91.66666667%;
  }

  .col-xxxs-10 {
    width: 83.33333333%;
  }

  .col-xxxs-9 {
    width: 75%;
  }

  .col-xxxs-8 {
    width: 66.66666667%;
  }

  .col-xxxs-7 {
    width: 58.33333333%;
  }

  .col-xxxs-6 {
    width: 50%;
  }

  .col-xxxs-5 {
    width: 41.66666667%;
  }

  .col-xxxs-4 {
    width: 33.33333333%;
  }

  .col-xxxs-3 {
    width: 25%;
  }

  .col-xxxs-2 {
    width: 16.66666667%;
  }

  .col-xxxs-1 {
    width: 8.33333333%;
  }

  .col-xxxs-pull-12 {
    right: 100%;
  }

  .col-xxxs-pull-11 {
    right: 91.66666667%;
  }

  .col-xxxs-pull-10 {
    right: 83.33333333%;
  }

  .col-xxxs-pull-9 {
    right: 75%;
  }

  .col-xxxs-pull-8 {
    right: 66.66666667%;
  }

  .col-xxxs-pull-7 {
    right: 58.33333333%;
  }

  .col-xxxs-pull-6 {
    right: 50%;
  }

  .col-xxxs-pull-5 {
    right: 41.66666667%;
  }

  .col-xxxs-pull-4 {
    right: 33.33333333%;
  }

  .col-xxxs-pull-3 {
    right: 25%;
  }

  .col-xxxs-pull-2 {
    right: 16.66666667%;
  }

  .col-xxxs-pull-1 {
    right: 8.33333333%;
  }

  .col-xxxs-pull-0 {
    right: auto;
  }

  .col-xxxs-push-12 {
    left: 100%;
  }

  .col-xxxs-push-11 {
    left: 91.66666667%;
  }

  .col-xxxs-push-10 {
    left: 83.33333333%;
  }

  .col-xxxs-push-9 {
    left: 75%;
  }

  .col-xxxs-push-8 {
    left: 66.66666667%;
  }

  .col-xxxs-push-7 {
    left: 58.33333333%;
  }

  .col-xxxs-push-6 {
    left: 50%;
  }

  .col-xxxs-push-5 {
    left: 41.66666667%;
  }

  .col-xxxs-push-4 {
    left: 33.33333333%;
  }

  .col-xxxs-push-3 {
    left: 25%;
  }

  .col-xxxs-push-2 {
    left: 16.66666667%;
  }

  .col-xxxs-push-1 {
    left: 8.33333333%;
  }

  .col-xxxs-push-0 {
    left: auto;
  }

  .col-xxxs-offset-12 {
    margin-left: 100%;
  }

  .col-xxxs-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-xxxs-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-xxxs-offset-9 {
    margin-left: 75%;
  }

  .col-xxxs-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-xxxs-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-xxxs-offset-6 {
    margin-left: 50%;
  }

  .col-xxxs-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-xxxs-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-xxxs-offset-3 {
    margin-left: 25%;
  }

  .col-xxxs-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-xxxs-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-xxxs-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width:350px) and (max-width:500px) {
  .col-xxs-12 {
    width: 100%;
  }

  .col-xxs-11 {
    width: 91.66666667%;
  }

  .col-xxs-10 {
    width: 83.33333333%;
  }

  .col-xxs-9 {
    width: 75%;
  }

  .col-xxs-8 {
    width: 66.66666667%;
  }

  .col-xxs-7 {
    width: 58.33333333%;
  }

  .col-xxs-6 {
    width: 50%;
  }

  .col-xxs-5 {
    width: 41.66666667%;
  }

  .col-xxs-4 {
    width: 33.33333333%;
  }

  .col-xxs-3 {
    width: 25%;
  }

  .col-xxs-2 {
    width: 16.66666667%;
  }

  .col-xxs-1 {
    width: 8.33333333%;
  }

  .col-xxs-pull-12 {
    right: 100%;
  }

  .col-xxs-pull-11 {
    right: 91.66666667%;
  }

  .col-xxs-pull-10 {
    right: 83.33333333%;
  }

  .col-xxs-pull-9 {
    right: 75%;
  }

  .col-xxs-pull-8 {
    right: 66.66666667%;
  }

  .col-xxs-pull-7 {
    right: 58.33333333%;
  }

  .col-xxs-pull-6 {
    right: 50%;
  }

  .col-xxs-pull-5 {
    right: 41.66666667%;
  }

  .col-xxs-pull-4 {
    right: 33.33333333%;
  }

  .col-xxs-pull-3 {
    right: 25%;
  }

  .col-xxs-pull-2 {
    right: 16.66666667%;
  }

  .col-xxs-pull-1 {
    right: 8.33333333%;
  }

  .col-xxs-pull-0 {
    right: auto;
  }

  .col-xxs-push-12 {
    left: 100%;
  }

  .col-xxs-push-11 {
    left: 91.66666667%;
  }

  .col-xxs-push-10 {
    left: 83.33333333%;
  }

  .col-xxs-push-9 {
    left: 75%;
  }

  .col-xxs-push-8 {
    left: 66.66666667%;
  }

  .col-xxs-push-7 {
    left: 58.33333333%;
  }

  .col-xxs-push-6 {
    left: 50%;
  }

  .col-xxs-push-5 {
    left: 41.66666667%;
  }

  .col-xxs-push-4 {
    left: 33.33333333%;
  }

  .col-xxs-push-3 {
    left: 25%;
  }

  .col-xxs-push-2 {
    left: 16.66666667%;
  }

  .col-xxs-push-1 {
    left: 8.33333333%;
  }

  .col-xxs-push-0 {
    left: auto;
  }

  .col-xxs-offset-12 {
    margin-left: 100%;
  }

  .col-xxs-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-xxs-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-xxs-offset-9 {
    margin-left: 75%;
  }

  .col-xxs-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-xxs-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-xxs-offset-6 {
    margin-left: 50%;
  }

  .col-xxs-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-xxs-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-xxs-offset-3 {
    margin-left: 25%;
  }

  .col-xxs-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-xxs-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-xxs-offset-0 {
    margin-left: 0%;
  }
}

#content {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  height: inherit;
}

.first-load-spinner {
  position: absolute;
  background-image: url("../media/first_load_spinner.gif");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 50;
}

.left-side,
.navbar {
  background-color: #092f65;
}

.navbar {
  height: 54px;
  color: #fff;
  font-size: 24px;
  font-family: roboto sans-serif;
  margin: 0!important;
}

.navbar .nav-left {
  height: 100%;
  float: left;
}

.navbar .nav-right {
  float: right;
}

.navbar li {
  padding: 9px;
  display: table-cell;
}

.navbar .main-menu {
  height: 52px;
  color: #092f65;
}

.navbar .login:hover {
  color: #092f65;
  background-color: #fff;
}

@media (max-width:768px) {
  .navbar .reduce {
    font-size: 18px;
  }

  .navbar .hide {
    display: none!important;
  }
}

.left-side {
  width: 51px;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

@media (max-width:768px) {
  .remove {
    display: none!important;
  }

  .right-side {
    margin-left: 0!important;
  }
}

.right-side {
  margin-bottom: -9999px;
  padding-bottom: 9999px;
}

.dashboard {
  width: 100%!important;
  height: 158px;
  background-color: #fff;
}

.block {
  padding: 0;
  height: 100%;
}

.container,
.row,
.ttabs>ul {
  padding: 0;
  margin: 0;
}

.row {
  height: 100%;
  padding: 5px 5px 0;
}

.parameter {
  overflow: hidden;
  height: 141px;
  background-color: #fff;
  margin: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  border-color: #000;
  text-align: center;
}

.parameter .prm-name {
  position: relative;
  height: 35px;
  line-height: 35px;
  margin: 5px;
  background-color: #36a0dd;
}

.parameter .prm-name span {
  vertical-align: bottom;
  font-family: roboto sans-serif;
  font-size: 16px;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
}

.parameter .prm-value {
  position: relative;
  height: 80px;
  margin: auto;
}

.parameter .prm-value span.date,
.parameter .prm-value span.num {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: roboto sans-serif;
  font-weight: 700;
}

.parameter .prm-value span.num {
  display: block;
  width: 100%;
  font-size: 50px;
}

.parameter .prm-value span.date {
  font-size: 20px;
}

.outcomeTitle {
  text-align: center;
  font-family: roboto sans-serif;
  font-size: 18px;
  padding: .5em;
  background-color: #d3d3d3;
}

.outcomeTitleType {
  text-align: center;
  font-size: 16px;
  padding: .5em;
}

.ttabs {
  clear: both;
  margin: 5px 10px 10px;
}

.ttabs>ul {
  list-style-type: none;
}

.ttabs>ul>li {
  margin-left: 0;
}

.ttabs>ul>li>a:link,
.ttabs>ul>li>a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.ttabs-head {
  height: 36px;
  padding: 0;
  border-bottom: 1px solid #000;
}

.ttab {
  position: relative;
  float: left;
  line-height: 35px;
  margin-right: -15px;
}

.ttab-border,
.ttab-title {
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.ttab-border {
  float: left;
  line-height: 35px;
  border-bottom: 35px solid #000;
}

.ttab-title {
  margin-top: 1px;
  margin-left: -11px;
  margin-right: -11px;
  border-bottom: 34px solid #fff;
}

.ttabs-content {
  position: relative;
  min-height: 60px;
  display: none;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.active-btn {
  position: relative;
  top: 1px;
  z-index: 10;
  border-bottom: 1px solid transparent;
}

.active-content {
  display: block;
}

#TabProcessMap img,
#content {
  width: 100%;
}

.table-config-btn {
  display: block;
  right: 0;
  position: absolute;
  width: 20px;
  text-align: right;
  height: 20px;
  z-index: 20;
}

.table-config-btn:hover {
  cursor: pointer;
}

.bootstrap-table {
  position: relative;
}

.bootstrap-table .card-view .title {
  width: 50%;
  vertical-align: top;
}

.bootstrap-table .card-view .value {
  width: 50%;
  display: inline-block;
  text-align: left;
}

.bootstrap-table .fixed-table-toolbar {
  height: 0;
  overflow-y: hidden;
}

.bootstrap-table .fixed-table-toolbar div.columns.columns-right.btn-group {
  position: absolute;
  right: 15px;
}

.bootstrap-table .fixed-table-toolbar .search {
  padding: 10px;
  margin: 0;
  line-height: normal;
}

.bootstrap-table .fixed-table-toolbar .search input {
  vertical-align: none;
}

#table tbody tr {
  border-bottom: 1px solid #ddd;
}

#table tbody td {
  white-space: pre-wrap;
}

table>thead>tr>th[data-field=duration] {
  min-width: 50px;
}

table>thead>tr>th {
  vertical-align: middle!important;
}

.fixed-table-container tbody td .th-inner,
.fixed-table-container thead th .th-inner {
  line-height: normal!important;
  text-overflow: clip!important;
  white-space: normal!important;
}

table td {
  text-align: center;
}

.navbar li.login,
.navbar li.username {
  display: none!important;
}