$outerPageColor: grey;
$mainBackgroundColor: black;
$contentBackgroundColor: white;
$navbarColor1: black;
$navbarColor2: white;

$colorWhite: #fff;
$colorBlack: #000;
$colorBlueLight: #399dd5;
$colorBlue: #1870a2;
$colorBlueDark: #1870a2;
$colorSky: #7bcefb;
$colorSkyDark: #77ccfd;

.color-blue-dark {
  color: $colorBlueDark;
}
.color-sky-dark {
  color: $colorSkyDark;
}
.color-black {
  color: $colorBlack;
}
.color-white {
  color: $colorWhite;
}

