.outcomeTitle {
  text-align: center;
  font-family: roboto sans-serif;
  font-size: 18px;
  padding: 0.5em;
  background-color: lightgray;
}
.outcomeTitleType {
  text-align: center;
  font-size: 16px;
  padding: 0.5em;
  //background-color: gray;
}

.ttabs-body>.ttabs-content:nth-child(2)>.row>.col-xs-6 {

}